NEXT_PUBLIC_SUPABASE_URL=https://vgftbxixqwwnszoqlwmq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZnZnRieGl4cXd3bnN6b3Fsd21xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA1MDE0OTQsImV4cCI6MjEwNjA3NzQ5NH0.qr0wFkieJ4OxyzGgIeMqmmgd1uow-v6Me2i_Nyj0Sag
NEXT_PUBLIC_ADMIN_EMAIL=
NEXT_PUBLIC_ADMIN_USERNAME=
